/**************** 
utilities style
****************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
.section-title {
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}

/********************
header section styles
*********************/
header {
  background-color: #2d25a0;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 49px 140px 86px 156px;
}
.banner-title-div,
.banner-image-div {
  transition: transform 0.5s ease-out;
}
.banner-title-div:hover,
.banner-image-div:hover {
  transform: scale(1.2);
}
.banner-title {
  font-weight: bold;
  font-size: 64px;
  color: white;
  margin-bottom: 27px;
}
.button-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
}
.button-link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
}
.banner img {
  width: 556px;
}

/*********************
players section styles
**********************/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
  width: 1050px;
  margin: 70px auto;
}
.player {
  padding: 15px;
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 300px;
}
.player-name {
  font-weight: bold;
  font-size: 28px;
}
.player-detail p {
  font-size: 16px;
  color: #6c6c6c;
}

/*********************
newses section styles
*********************/
.news-section {
  width: 1050px;
  margin: auto;
}
.newses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  width: 1050px;
  margin: 70px auto;
}
.news {
  align-items: center;
  display: flex;
  padding: 0px 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.news img {
  width: 200px;
}
.news-detail {
  padding-left: 10px;
}
.news-title {
  font-size: 16px;
}
/**********************
Footer section styles
***********************/

footer {
  margin: auto;
  width: 483.87px;
  height: 110px;
  text-align: center;
}
footer p {
  font-size: 18px;
}
footer img {
  width: 100%;
}
.social-icons {
  margin: auto;
  width: 170px;
  height: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.social-icon {
  height: 32px;
  width: 32px;
  background-color: #e7e7e8;
  color: #969bab;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************
media queries
**************/

/************************
for mobile media queries
*************************/

@media only screen and (max-width: 688px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .banner-title-div {
    padding-left: 15px;
    padding-bottom: 50px;
  }
  .banner-image-div {
    padding-bottom: 60px;
  }
  .banner-title {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
  }
  .banner img {
    width: 329px;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .news-section {
    width: 330px;
  }
  .newses {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .news {
    width: 330px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }
  .news-detail {
    text-align: center;
  }

  footer {
    width: 236px;
  }
}

/*************************
for tablets media queries
**************************/

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .news-section {
    width: 100%;
  }
  .newses {
    width: 100%;
  }
}
